@page
@model EditarModel
@{
    ViewData["Title"] = "Editar Cadastro";
}

<div class="text-center">

    <h1 class="display-4">Editar Cadastro</h1>

</div>

<form>
  <div class="form-group">
    <label for="empresa">Empresa:</label>
    <input type="text" class="form-control" placeholder="Nome da Empresa">
  </div>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" placeholder="Nome do Proprietário">
  </div>
  <div class="form-group">
    <label for="CPF/CNPJ">CPF ou CNPJ:</label>
    <input type="text" class="form-control" placeholder="CPF ou CNPJ da empresa">
  </div>
   <div>
  <form>
    <label for="party">Data:</label>
    <input id="party" type="datetime-local" class="form-control" name="partydate">
  </form>
  </div>
  <div class="form-group">
    <label for="CPF/CNPJ">Telefone:</label>
    <input type="text" class="form-control" placeholder="(00)00000-0000">
  </div>

  <br/>
  <span><button type="submit" class="btn btn-primary">Alterar</button></span>
  <span><a class="btn btn-secundary" href="Fornecedores">Voltar</a></span>
</form>